/* Home page start */

body {
    height: 2000px;
    width: 100%;
}

.navigation-bar a {
    text-decoration: none;
    /* background-color: rgb(128, 201, 243); */
    color: black;
    height: 36px;
    font-size: 18px;
    border: none;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s, font-size 0.15s;
    /* box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out; */
}

.navigation-bar a:hover {
    font-size: 20px;
    background-color: rgb(84, 191, 253);
}

.navigation-bar {
    background-color: rgb(133, 243, 228);
    border-radius: 50px;
    display: flex;
    position: fixed;
    top: 1px;
    left: 0;
    right: 0;
    height: 36px;
}

.dropdown {
    position: relative;
    display: flexbox;
    flex: 1;
}

.dropdown-content {
    display: none;
    width: 100%;
    background-color: rgb(120, 214, 243);
    position: absolute;
    z-index: 100;
    border: none;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 38px;
    height: 700px;
    background-color: azure;
    margin-left: 0;
}

.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding-top: 20px;
    padding-left: 0;
}

.section-part {
    margin-left: 140px;
    margin-top: 40px;
}

.section-part img {
    width: 300px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 120px;
    background-color: azure;
}

/* Home page end */

/* Rising Desks start */

/* Rising Desks end */

/* Contact Us start */

/* Contact Us end */

/* Health Benefits start */

/* Health Benefits end */

/* Basket start */

/* Basket end */

/* Media query section */
@media (max-width: 650px) {
    a {
        font-size: 13px;
        height: 30px;
        border-radius: 15px;
    }

    a:hover {
        font-size: 14px;
    }
}