/* font-family: 'Lora',
serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Oxygen',
sans-serif; */

/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lora:wght@400;500&family=Oswald:wght@500&family=Oxygen&family=Roboto&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.title-holder {
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 45px;
}

header {
    background-color: #766e6e;
    text-align: center;
    color: white;
    padding: 10px;
}

.welcome-text {
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 50%;
    font-style: italic;
    color: darkred;
    margin: 0;
}

nav {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font-weight: 500;
}

nav .dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(94, 90, 90);
    min-width: 160px;
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    position: fixed;
    right: 0;
    line-height: 1.5rem;
    transition: color 0.3s;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul a {
    color: rgb(65, 64, 64);
}

.sidebar ul a:hover {
    color: rgb(255, 13, 215);
}

section {
    padding: 20px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

.selected-page {
    color: rgb(0, 255, 13);
}

.paragraph {
    display: flex;
    position: relative;
    margin: 20px;
    border: black 1px dotted;
    box-shadow: 4px 2px rgb(228, 176, 176);
    padding: 20px;
}

.paragraph p {
    width: 60%;
}

.paragraph img {
    margin-left: 20px;
    float: right;
    width: 350px;
}

.paragraph a {
    color: rgb(0, 60, 255);
    transition: color 0.3s;
}

.paragraph a:hover {
    color: rgb(255, 0, 170);
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

video {
    width: 420px;
    margin: 20px;
}

.note {
    font-style: italic;
    color: red;
}

.home-paragraph {
    display: flex;
    position: relative;
    margin: 20px;
    border: black 1px dotted;
    box-shadow: 4px 5px rgb(110, 110, 110);
    padding: 20px;
}

.home-paragraph p {
    width: 60%;
    text-align: left;
}

.home-list {
    position: absolute;
    right: 0;
    color: white;
    top: 7px;
    transition: color 0.3s;
}

.home-list:hover {
    color: rgb(0, 225, 255);
}

/* TODO: add media query */