/* font-family: 'Lora',
serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Oxygen',
sans-serif; */

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #766e6e;
    text-align: center;
    color: white;
    padding: 10px;
}

nav {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font-weight: 500;
}

nav .dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(94, 90, 90);
    min-width: 160px;
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    position: fixed;
    right: 0;
    background-color: #a5a3a3;
    transition: color 0.3s;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul a {
    color: rgb(65, 64, 64);
}

.sidebar ul a:hover {
    color: rgb(255, 255, 255);
}

section {
    padding: 20px;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.selected-page {
    color: rgb(0, 255, 13);
}